{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags  %}

{% block content %}
    <div id="main">
        
        
            {% if agencias %}

            <table class="table table-hover">
                
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Banco</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Telefone1</th>
                    <th scope="col">Tipo1</th>
                    <th scope="col">Agência</th>
                    <th scope="col">Número Agência</th>
                    <th scope="col">Ações</th>
                        
                  </tr>
             
                {% for Agencia in agencias %}
                    <tr>
                        <th scope="row">{{Agencia.id}}</th>
                        <td>{{Agencia.id_banco}}</td>
                        <td>{{Agencia.endereco}}</td>
                        <td>{{Agencia.fone}}</td>
                        <td>{{Agencia.tipo}}</td>
                        <td>{{Agencia.fone1}}</td>
                        <td>{{Agencia.tipo1}}</td>
                        <td>{{Agencia.agencia}}</td>
                        <td>{{Agencia.nome_agencia}}</td>
                        <td>
                            <a  href= "{% url 'alterarAgencia' Agencia.id %}" id="{{Agencia.id}}" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>
                            <a href= "{% url 'deletarAgencia' Agencia.id %}" id="{{Agencia.id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
         
            </table>
            {% else %}
                <p>Não há Agências registradas</p>
            {% endif %}
        

    </div>
    {% endblock  %}