{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% load static %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/banco/agencia_banco_add.css' %}">
    
<section id="main">
    <h1>Adicione um banco</h1>
    <form action="." class="crispy_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="w-25 p-3" style="background-color: #fff;">
                {{ form|crispy }} 
            </div>
        <input type="submit" class="btn btn-primary btn-sm" value="Salvar"></input>
    </form>
</section>
    
{% endblock %}