<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'partials/header.html' %}
    <title>Banco do Narg</title>
  </head>
  <body>
<div id="main">
  <div class="w-75 p-3" style="background-color: #fff;">
    <ul>
      {% if bancos %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Número</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
          {% for Banco in bancos %}
          <tr>
            <th scope="row">{{Banco.id}}</th>
            <td>{{Banco.numero}}</td>
            <td>{{Banco.nome}}</td>
            <td>
              <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
              <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
          </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
    {% else %}
    <p>Não há bancos registrados</p>
    {% endif %}
  </div>
</div>
  </body>
</html>
