@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



#menu-h ul {
    max-width: 28.125rem;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #8f9094;
    padding: 0.53rem;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}


#navbarNavDarkDropdown a:hover {
    color: #5ADBDB
}


.navbar-brand .bi-house{
    color: #8f9094;
}
.navbar-brand .bi-house:hover{
    color: #5ADBDB
}

.dropdown-toggle{
    color: #5ADBDB
}